In [1]:
import graphlab

In [7]:
people = graphlab.SFrame('people_wiki.gl/')

In [8]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [9]:
len(people)

59071

In [10]:
obama = people[people['name']=='Barack Obama']

In [11]:
obama

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [12]:
obama['text']

dtype: str
Rows: ?
['barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba', ... ]

In [13]:
clooney = people[people['name']=='George Clooney']

In [14]:
clooney

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | George Clooney |
+-------------------------------+----------------+
+-------------------------------+
|              text             |
+-------------------------------+
| george timothy clooney bor... |
+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [16]:
obama['word_count'] = graphlab.text_analytics.count_words(obama['text'])

In [18]:
obama['word_count'].show()

Canvas is accessible via web browser at the URL: http://localhost:52057/index.html
Opening Canvas in default web browser.

In [19]:
graphlab.canvas.set_target('ipynb')

In [23]:
obama_word_count_table = obama[['word_count']].stack('word_count',new_column_name=['word', 'count'] )

In [26]:
obama_word_count_table

Columns:
	word	str
	count	int

Rows: 273

Data:
+------------------+-------+
|       word       | count |
+------------------+-------+
|    normalize     |   1   |
|      sought      |   1   |
|      combat      |   1   |
|    continued     |   1   |
| unconstitutional |   1   |
|        8         |   1   |
|   californias    |   1   |
|       1996       |   1   |
|     marriage     |   1   |
|     defense      |   1   |
+------------------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [27]:
obama_word_count_table.sort('count', ascending=False)

Columns:
	word	str
	count	int

Rows: 273

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   40  |
|   in  |   30  |
|  and  |   21  |
|   of  |   18  |
|   to  |   14  |
|  his  |   11  |
| obama |   9   |
|  act  |   8   |
|   a   |   7   |
|   he  |   7   |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [28]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [29]:
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
| franz rottensteiner born i... | {'all': 1L, 'bauforschung'... |
| henry krvits born 30 decem... | {'legendary': 1L, 'gangste... |
| sam henderson born october... | {'now': 1L, 'currently': 1... |
| aaron lacrate is an americ... | {'exclusive': 2L, 'produce... |
| trevor ferguson aka john f... | {'taxi': 1L, 'salon': 1L, ... |
| grant nelson born 27 april... | {'houston': 1L, 'frankie':... |
| cathy caruth born 1955 is ... | {'phenomenon': 1L, 'debora... |
+-------------------------------+-------------------------------+
[10 rows x 4 columns]

In [30]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

In [33]:
people['tf_idf'] = tfidf

In [53]:
people['tf_idf'][1]

{'1973': 2.808137223619358,
 '1981': 2.5978176200443843,
 '2005': 1.6425861253275964,
 '24hour': 6.669007275688884,
 '25hour': 10.986495389225194,
 '94': 5.89889905399281,
 'a': 0.03371510683549888,
 'administration': 9.885885875106995,
 'after': 0.9443334420013064,
 'aka': 4.654993539331503,
 'alfred': 4.8596262051110095,
 'an': 0.5964781781637942,
 'and': 0.007451438980487283,
 'as': 0.3815085660372354,
 'assay': 8.683910296231149,
 'assessed': 6.9975113426609195,
 'at': 0.645957859962386,
 'available': 3.9468350393631186,
 'be': 4.218744013624684,
 'bethesda': 6.7380001471758355,
 'biological': 5.041074780618619,
 'blind': 5.522663584199584,
 'bright': 5.602000326436105,
 'can': 5.600061919606208,
 'capsule': 7.895452935866879,
 'cause': 9.604692996575423,
 'certain': 9.82690171024958,
 'chicago': 2.9291179006672023,
 'chronobiologic': 10.986495389225194,
 'circadian': 25.765800349280468,
 'clearly': 5.82170941530168,
 'closely': 4.591233791109745,
 'colleague': 5.103173000736915,
 'current': 2.8308461188591933,
 'day': 5.322863391187994,
 'december': 2.001425829579395,
 'defined': 5.629909114553182,
 'department': 2.3398541306220704,
 'depression': 5.862531409821935,
 'describes': 4.564873121418676,
 'developing': 3.7973276508048714,
 'disorders': 23.746557527902628,
 'disturbances': 7.808441558877249,
 'drifting': 7.489987827758714,
 'each': 3.168869946171825,
 'evening': 8.825630444529097,
 'every': 3.306319748788604,
 'exposure': 16.443491559878495,
 'focused': 3.684673047087262,
 'follows': 5.421974981902501,
 'for': 0.14572505868657382,
 'from': 0.29375533798563447,
 'full': 3.003055326218652,
 'graduated': 2.2579073935292953,
 'had': 1.177428412308558,
 'has': 0.856995079488078,
 'have': 1.4416847832984716,
 'he': 0.853474230634896,
 'health': 5.989129738745434,
 'his': 0.2626114552136573,
 'holds': 2.8415259721373194,
 'hormone': 7.489987827758714,
 'hour': 4.467348101284799,
 'in': 0.003861625400485797,
 'include': 2.174545211685214,
 'individuals': 4.577966598165696,
 'institute': 2.1793227663084926,
 'is': 0.05523250095103998,
 'j': 3.2558813231614545,
 'jet': 5.868501576808439,
 'l': 3.969885705330975,
 'laboratory': 4.290696472166703,
 'lag': 8.588600116426823,
 'later': 1.4294496043477696,
 'lewy': 28.131172430373283,
 'light': 11.222520964891977,
 'maladaptation': 10.986495389225194,
 'maryland': 4.251903729252247,
 'md': 4.75012579902149,
 'melatonin': 49.43941550278542,
 'mental': 4.694926249666874,
 'modalities': 8.588600116426823,
 'monitored': 7.460134864609033,
 'mood': 6.592046234552756,
 'morning': 7.646645996757104,
 'moving': 3.1908488528906003,
 'must': 4.665727094974612,
 'my': 2.903166780438819,
 'national': 1.1860931647723914,
 'nimh': 8.588600116426823,
 'of': 0.02909323339378067,
 'ohsu': 9.887883100557085,
 'on': 0.5532382600518011,
 'ophthalmology': 8.153282045168979,
 'oregon': 14.163582529462454,
 'pattern': 6.158181651922893,
 'pharmacology': 6.908957945319475,
 'phaseadvance': 10.986495389225194,
 'phasedelay': 10.986495389225194,
 'phd': 2.5603215961961254,
 'plasma': 7.0744723837970485,
 'precise': 6.44320060695519,
 'precisely': 7.0162034756730725,
 'prior': 2.956736868784372,
 'professor': 2.010865204934687,
 'psychiatry': 11.737003153616879,
 'publications': 3.253249742695399,
 'pubmed': 9.600201028105303,
 'relying': 7.179832899454874,
 'research': 4.395194159760633,
 'rhythm': 4.985080511264044,
 'rhythms': 6.166213823620158,
 'robert': 2.802818806604537,
 'sack': 6.9975113426609195,
 'sandy': 5.493433945884646,
 'scheduled': 4.870603263742161,
 'science': 2.3447863231113892,
 'secretion': 9.19473591999714,
 'senior': 2.2990532222492712,
 'shift': 5.437419304329975,
 'shifts': 13.784301654006187,
 'sleep': 11.773257922801992,
 'studies': 2.3430220318986272,
 'studying': 3.612493529875034,
 'take': 3.112517009620693,
 'that': 0.6614069466714981,
 'the': 0.00020315568514782669,
 'their': 1.5201958369931787,
 'these': 5.1951804362209755,
 'they': 1.8993401178193898,
 'thomas': 3.3202734635624696,
 'time': 1.3253342074200498,
 'to': 0.1408348130453977,
 'totally': 5.810345656651365,
 'treatment': 13.071396407363236,
 'types': 5.620519374203343,
 'university': 1.6946860096423695,
 'unless': 6.411784410721811,
 'very': 2.811792506755733,
 'vicechair': 5.8565966743021205,
 'was': 0.07936578561218346,
 'wehr': 10.293348208665249,
 'winter': 4.011081461769242,
 'with': 0.40493728504412135,
 'work': 1.3993637697254548,
 'worked': 1.553891853362109,
 'working': 2.074561053063768}

In [35]:
obama = people[people['name']=='Barack Obama']

In [40]:
obama[['tf_idf']].stack('tf_idf', new_column_name=['word', 'tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [42]:
obama.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tf_idf	dict

Rows: 1

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tf_idf            |
+-------------------------------+-------------------------------+
| {'operations': 1L, 'repres... | {'operations': 3.811771079... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [48]:
clinton = people[people['name']=='Bill Clinton']

In [49]:
backham = people[people['name']=='David Backham']

In [57]:
graphlab.distances.cosine(obama['tf_idf'][0], clinton['tf_idf'][0])

0.8339854936884276

In [61]:
knn_model = graphlab.nearest_neighbors.create(people, features=['tf_idf'], label='name')

Starting brute force nearest neighbors model training.

In [62]:
knn_model

Class                          : NearestNeighborsModel

Attributes
----------
Method                         : brute_force
Number of distance components  : 1
Number of examples             : 59071
Number of feature columns      : 1
Number of unpacked features    : 547979
Total training time (seconds)  : 5.0073

In [63]:
knn_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 223.841ms    |

| Done         |         | 100         | 400.747ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [64]:
ej = people[people['name']=='Elton John']

In [71]:
ej[['word_count']].stack('word_count', new_column_name=['word', 'count']).sort('count', ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [72]:
ejtf = ej['tf_idf']

In [77]:
ej[['tf_idf']].stack('tf_idf', new_column_name=['word', 'count']).sort('count', ascending=False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     count     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [83]:
vb = people[people['name']=="Victoria Beckham"]
pm = people[people['name']=="Paul McCartney"]
graphlab.distances.cosine(ej['tf_idf'][0], pm['tf_idf'][0])

0.8250310029221779

In [84]:
graphlab.distances.cosine(ej['tf_idf'][0], vb['tf_idf'][0])

0.9567006376655429

In [93]:
knn_model1 = graphlab.nearest_neighbors.create(people, features=['tf_idf'], label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [94]:
knn_model2 = graphlab.nearest_neighbors.create(people, features=['word_count'], label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [98]:
knn_model2.query(vb)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 14.012ms     |

| Done         |         | 100         | 158.122ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]